<?xml version="1.0" encoding="UTF-8"?>
<menus>
	<topmenu id="basedata" label="基础数据">
		<leftmenu id="game" label="基础数据">
			<submenu>
				<id>basedata_game_load</id>
				<label>游戏管理</label>
				<url>/basedata/game/list.shtml</url>
				<type>link</type>
				<modulePath>basedata/game</modulePath>
				<authority>basedata_game_load</authority>
			</submenu>
			<submenu>
				<id>basedata_gameversion_load</id>
				<label>游戏版本管理</label>
				<url>/basedata/gameversion/list.shtml</url>
				<type>link</type>
				<modulePath>basedata/gameversion</modulePath>
				<authority>basedata_gameversion_load</authority>
			</submenu>
			<submenu>
				<id>basedata_gameitem_load</id>
				<label>游戏道具管理</label>
				<url>/basedata/gameitem/list.shtml</url>
				<type>link</type>
				<modulePath>basedata/gameitem</modulePath>
				<authority>basedata_gameitem_load</authority>
			</submenu>
			<submenu>
				<id>basedata_channel_load</id>
				<label>渠道管理</label>
				<url>/basedata/channel/list.shtml</url>
				<type>link</type>
				<modulePath>basedata/channel</modulePath>
				<authority>basedata_channel_load</authority>
			</submenu>
			<submenu>
				<id>basedata_gamechannel_load</id>
				<label>渠道推广</label>
				<url>/basedata/gamechannel/list.shtml</url>
				<type>link</type>
				<modulePath>basedata/gamechannel</modulePath>
				<authority>basedata_gamechannel_load</authority>
			</submenu>
			<submenu>
				<id>jdp_area_load</id>
				<label>地区管理</label>
				<url>area/load.shtml</url>
				<type>dialog</type>
				<modulePath>jdp/area</modulePath>
				<authority>jdp_area_manage</authority>
				<width>800</width>
				<height>510</height>
			</submenu>
		</leftmenu>
	</topmenu>
	<topmenu id="query" label="统计查询">
		<leftmenu id="query" label="统计查询">
			<submenu>
				<id>query_game_download_load</id>
				<label>下载清单</label>
				<url>query/game/querydownload.shtml</url>
				<type>link</type>
				<modulePath>query/game/download</modulePath>
				<authority>query_game_download_load</authority>
			</submenu>
			<submenu>
				<id>query_game_importdownload_load</id>
				<label>下载量统计</label>
				<url>query/game/queryimportdownload.shtml</url>
				<type>link</type>
				<modulePath>query/game/importdownload</modulePath>
				<authority>query_game_importdownload_load</authority>
			</submenu>
			<submenu>
				<id>query_game_consume_load</id>
				<label>消费清单</label>
				<url>query/game/queryconsume.shtml</url>
				<type>link</type>
				<modulePath>query/game/consume</modulePath>
				<authority>query_game_consume_load</authority>
			</submenu>
			<submenu>
				<id>query_game_importconsume_load</id>
				<label>消费统计</label>
				<url>query/game/queryimportconsume.shtml</url>
				<type>link</type>
				<modulePath>query/game/importconsume</modulePath>
				<authority>query_game_importconsume_load</authority>
			</submenu>
			<submenu>
				<id>query_game_playeronline_load</id>
				<label>用户在线查询</label>
				<url>query/game/queryplayeronline.shtml</url>
				<type>link</type>
				<modulePath>query/game/playeronline</modulePath>
				<authority>query_game_playeronline_load</authority>
			</submenu>
		</leftmenu>
	</topmenu>
	<topmenu id="system" label="系统设置">
		<leftmenu id="systemSetting" label="系统设置">
			<submenu>
				<id>jdp_user_operator_load</id>
				<label>用户管理</label>
				<url>operator/list.shtml</url>
				<type>link</type>
				<modulePath>jdp/user/operator</modulePath>
				<authority>jdp_user_operator_load</authority>
			</submenu>
			<submenu>
				<id>jdp_user_role_load</id>
				<label>角色管理</label>
				<url>role/list.shtml</url>
				<type>link</type>
				<modulePath>jdp/user/role</modulePath>
				<authority>jdp_user_role_load</authority>
			</submenu>
			<submenu>
				<id>jdp_authority_load</id>
				<label>权限管理</label>
				<url>authority/load.shtml</url>
				<type>dialog</type>
				<modulePath>jdp/authority</modulePath>
				<authority>jdp_authority_authorize</authority>
			</submenu>
			<submenu>
				<id>jdp_logger_load</id>
				<label>日志查询</label>
				<url>logger/list.shtml</url>
				<type>link</type>
				<modulePath>jdp/logger</modulePath>
				<authority>jdp_logger_load</authority>
			</submenu>
		</leftmenu>
	</topmenu>
</menus>
