<?xml version="1.0" encoding="UTF-8"?>
<!-- path不能用system -->
<moduleGroups>
	<moduleGroup name="基础数据" path="basedata">
		<module name="游戏管理" path="basedata/game">
		    <function name="查询" authorityCode="basedata_game_load" sort="0"/>
			<function name="添加" authorityCode="basedata_game_add" sort="1"/>
			<function name="修改" authorityCode="basedata_game_modify" sort="2"/>
			<function name="删除" authorityCode="basedata_game_delete" sort="3"/>
		</module>
		<module name="游戏版本管理" path="basedata/gameversion">
		    <function name="查询" authorityCode="basedata_gameversion_load" sort="0"/>
			<function name="添加" authorityCode="basedata_gameversion_add" sort="1"/>
			<function name="修改" authorityCode="basedata_gameversion_modify" sort="2"/>
			<function name="删除" authorityCode="basedata_gameversion_delete" sort="3"/>
		</module>
		<module name="游戏道具管理" path="basedata/gameitem">
		    <function name="查询" authorityCode="basedata_gameitem_load" sort="0"/>
			<function name="添加" authorityCode="basedata_gameitem_add" sort="1"/>
			<function name="修改" authorityCode="basedata_gameitem_modify" sort="2"/>
		    <function name="删除" authorityCode="basedata_gameitem_delete" sort="3"/>
		</module>
		<module name="渠道管理" path="basedata/channel">
		    <function name="查询" authorityCode="basedata_channel_load" sort="0"/>
			<function name="添加" authorityCode="basedata_channel_add" sort="1"/>
			<function name="修改" authorityCode="basedata_channel_modify" sort="2"/>
			<function name="删除" authorityCode="basedata_channel_delete" sort="3"/>
		</module>
		<module name="渠道推广" path="basedata/gamechannel">
		    <function name="查询" authorityCode="basedata_gamechannel_load" sort="0"/>
			<function name="添加" authorityCode="basedata_gamechannel_add" sort="1"/>
			<function name="修改" authorityCode="basedata_gamechannel_modify" sort="2"/>
			<function name="删除" authorityCode="basedata_gamechannel_delete" sort="3"/>
		</module>	
		<module name="地区管理" path="jdp/area">
			<function name="管理" authorityCode="jdp_area_manage" sort="0"/>
		</module>
	</moduleGroup>
	<moduleGroup name="统计查询" path="query">
		<module name="下载清单" path="query/game/download">
		    <function name="查询" authorityCode="query_game_download_load" sort="0"/>
		</module>
		<module name="下载量统计" path="query/game/importdownload">
		    <function name="查询" authorityCode="query_game_importdownload_load" sort="0"/>
		    <function name="导入" authorityCode="query_game_importdownload_import" sort="1"/>
		</module>
		<module name="消费清单" path="query/game/consume">
		    <function name="查询" authorityCode="query_game_consume_load" sort="0"/>
		</module>
		<module name="消费统计" path="query/game/importconsume">
		    <function name="查询" authorityCode="query_game_importconsume_load" sort="0"/>
		    <function name="导入" authorityCode="query_game_importconsume_import" sort="1"/>
		</module>
		<module name="用户在线查询" path="query/game/playeronline">
		    <function name="查询" authorityCode="query_game_playeronline_load" sort="0"/>
		</module>
	</moduleGroup>
	<moduleGroup name="系统配置" path="config">
		<module name="用户管理" path="jdp/user/operator">
		    <function name="查询" authorityCode="jdp_user_operator_load" sort="0"/>
			<function name="添加" authorityCode="jdp_user_operator_add" sort="1"/>
			<function name="修改" authorityCode="jdp_user_operator_modify" sort="2"/>
			<function name="删除" authorityCode="jdp_user_operator_delete" sort="3"/>
		</module>
		<module name="角色管理" path="jdp/user/role">
		    <function name="查询" authorityCode="jdp_user_role_load" sort="0"/>
			<function name="添加" authorityCode="jdp_user_role_add" sort="1"/>
			<function name="修改" authorityCode="jdp_user_role_modify" sort="2"/>
			<function name="删除" authorityCode="jdp_user_role_delete" sort="3"/>
		</module>
		<module name="权限管理" path="jdp/authority">
			<function name="授权" authorityCode="jdp_authority_authorize" sort="0"/>
		</module>
		<module name="日志查询" path="jdp/logger">
			<function name="查看" authorityCode="jdp_logger_load" sort="0"/>
		</module>
	</moduleGroup>
</moduleGroups>
